<div>
  <section class="full-title">
    <h2>RoadMap to Became a Software Engineer</h2>
    <h4>
      Here I gonna write some subtitle that will show a little map under..
    </h4>
  </section>
</div>
<div class="section-show">
  <a class="js-button" (click)="toggleShow()">
    JavaScript - Beginner
  </a>
  <div *ngIf="isShown" class="shown-on">
    content
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum provident et exercitationem
     non dolor veniam ut, harum magnam,
    voluptas explicabo perspiciatis adipisci eaque quo beatae
    . Voluptates soluta consequatur cumque mollitia.
  </div>
</div>
