

  <!-- <div class="cabecalho">
    <h1 class="logo">Sperandio .</h1>
    <nav class="nav-bar">
      <a [routerLink]="['home']">Home</a>
      <a >Post</a>
      <a>Help</a>
      <a>Logout</a>
    </nav>
  </div> -->

  <div class="cabecalho">
    <h1 class="logo">Sperandio .</h1>
    <div class="menu">
      <input type="checkbox" class="menu-toggle"/>
      <ul>
        <li>
          <a href="#">&#x2708;</a>
        </li><li>
          <a href="#">&#9032;</a>
        </li><li>
          <a href="#">&#9032;</a>
        </li>
      </ul>
    </div>
  </div>



