<body class="img">

  <main>
    <div class="title-div">
      <h2 class="title">Have an account?</h2>
    </div>
    <div class="login-box">
      <form class="form-box">

        <input class="input-form" type="text" placeholder="Username">

        <input class="input-form" type="password" placeholder="Password">

        <button [routerLink]="['/home']" class="button">SING IN</button>
      </form>
      <div class="info-box">
        <div class="checkbox">
          <input class="box" type="checkbox" checked>
          <p class="remember">Remember Me</p>
        </div>
        <div class="passInfo">
          <a href="">Forgot Password</a>
        </div>
      </div>
      <h4 class="singin-text">Or Sing in With</h4>
      <div class="social-box">
        <div class="face">
          <p class="item-box">Facebook</p>
        </div>
        <div class="google">
          <p class="item-box">Google</p>
        </div>

      </div>
    </div>
  </main>
</body>
